In [42]:
import pandas as pd

In [43]:
data1=pd.read_csv("IPL2018.csv")
data2=pd.read_csv("IPL2019.csv")
data3=pd.read_csv("IPL2020.csv")

In [44]:
data1 = data1.sort_index(axis=0 ,ascending=False)
data1.reset_index(inplace = True, drop = True)
data1

,over,short_text,long_text
0,0.1,"Chahar to Rohit Sharma, no run",Chahar beats the outside edge right away. Nice...
1,0.2,"Chahar to Rohit Sharma, no run","on a length and outside off, Chahar finds outs..."
2,0.3,"Chahar to Rohit Sharma, no run",beaten three times in a row! Good length and b...
3,0.4,"Chahar to Rohit Sharma, FOUR runs","slightly overpitched and outside off, Rohit do..."
4,0.5,"Chahar to Rohit Sharma, 1 run","full and veering into the pads, Rohit tucks it..."
...,...,...,...
14084,17.5,"Kaul to Watson, FOUR runs","full just outside off, and this time it's been..."
14085,17.6,"Kaul to Watson, no run","full just outside off, and defended towards co..."
14086,18.1,"Brathwaite to Rayudu, no run","yorker on off, and dug away to the square-leg ..."
14087,18.2,"Brathwaite to Rayudu, no run","full just outside off, and Rayudu suffles acro..."
14088,18.3,"Brathwaite to Rayudu, FOUR runs",And Chennai Super Kings' highest run-scorer hi...

In [45]:
data1.rename(columns = {'short_text':'prompt','long_text':'commentary'}, inplace = True)
data1

,over,prompt,commentary
0,0.1,"Chahar to Rohit Sharma, no run",Chahar beats the outside edge right away. Nice...
1,0.2,"Chahar to Rohit Sharma, no run","on a length and outside off, Chahar finds outs..."
2,0.3,"Chahar to Rohit Sharma, no run",beaten three times in a row! Good length and b...
3,0.4,"Chahar to Rohit Sharma, FOUR runs","slightly overpitched and outside off, Rohit do..."
4,0.5,"Chahar to Rohit Sharma, 1 run","full and veering into the pads, Rohit tucks it..."
...,...,...,...
14084,17.5,"Kaul to Watson, FOUR runs","full just outside off, and this time it's been..."
14085,17.6,"Kaul to Watson, no run","full just outside off, and defended towards co..."
14086,18.1,"Brathwaite to Rayudu, no run","yorker on off, and dug away to the square-leg ..."
14087,18.2,"Brathwaite to Rayudu, no run","full just outside off, and Rayudu suffles acro..."
14088,18.3,"Brathwaite to Rayudu, FOUR runs",And Chennai Super Kings' highest run-scorer hi...

In [46]:
result = data1['prompt'].str.split(', ',n=1,expand=True)
data1["input"] = result[0]
data1["commentary"] = result[1]+", "+data1["commentary"]+"."
data1["event"] = result[1]
data1

,over,prompt,commentary,input,event
0,0.1,"Chahar to Rohit Sharma, no run","no run, Chahar beats the outside edge right aw...",Chahar to Rohit Sharma,no run
1,0.2,"Chahar to Rohit Sharma, no run","no run, on a length and outside off, Chahar fi...",Chahar to Rohit Sharma,no run
2,0.3,"Chahar to Rohit Sharma, no run","no run, beaten three times in a row! Good leng...",Chahar to Rohit Sharma,no run
3,0.4,"Chahar to Rohit Sharma, FOUR runs","FOUR runs, slightly overpitched and outside of...",Chahar to Rohit Sharma,FOUR runs
4,0.5,"Chahar to Rohit Sharma, 1 run","1 run, full and veering into the pads, Rohit t...",Chahar to Rohit Sharma,1 run
...,...,...,...,...,...
14084,17.5,"Kaul to Watson, FOUR runs","FOUR runs, full just outside off, and this tim...",Kaul to Watson,FOUR runs
14085,17.6,"Kaul to Watson, no run","no run, full just outside off, and defended to...",Kaul to Watson,no run
14086,18.1,"Brathwaite to Rayudu, no run","no run, yorker on off, and dug away to the squ...",Brathwaite to Rayudu,no run
14087,18.2,"Brathwaite to Rayudu, no run","no run, full just outside off, and Rayudu suff...",Brathwaite to Rayudu,no run
14088,18.3,"Brathwaite to Rayudu, FOUR runs","FOUR runs, And Chennai Super Kings' highest ru...",Brathwaite to Rayudu,FOUR runs

In [47]:
data1=data1[["input","event","commentary"]]
data1["event"] = data1["event"].str.strip("")
data1["commentary"] = data1["commentary"].str.strip("")
data1

C:\Users\aksha\AppData\Local\Temp\ipykernel_13780\4206231135.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["event"] = data1["event"].str.strip("")
C:\Users\aksha\AppData\Local\Temp\ipykernel_13780\4206231135.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["commentary"] = data1["commentary"].str.strip("")

,input,event,commentary
0,Chahar to Rohit Sharma,no run,"no run, Chahar beats the outside edge right aw..."
1,Chahar to Rohit Sharma,no run,"no run, on a length and outside off, Chahar fi..."
2,Chahar to Rohit Sharma,no run,"no run, beaten three times in a row! Good leng..."
3,Chahar to Rohit Sharma,FOUR runs,"FOUR runs, slightly overpitched and outside of..."
4,Chahar to Rohit Sharma,1 run,"1 run, full and veering into the pads, Rohit t..."
...,...,...,...
14084,Kaul to Watson,FOUR runs,"FOUR runs, full just outside off, and this tim..."
14085,Kaul to Watson,no run,"no run, full just outside off, and defended to..."
14086,Brathwaite to Rayudu,no run,"no run, yorker on off, and dug away to the squ..."
14087,Brathwaite to Rayudu,no run,"no run, full just outside off, and Rayudu suff..."
14088,Brathwaite to Rayudu,FOUR runs,"FOUR runs, And Chennai Super Kings' highest ru..."

In [48]:
def preparedata(data1):
    data1 = data1.sort_index(axis=0 ,ascending=False)
    data1.reset_index(inplace = True, drop = True)
    data1.rename(columns = {'short_text':'prompt','long_text':'commentary'}, inplace = True)
    result = data1['prompt'].str.split(', ',n=1,expand=True)
    data1["input"] = result[0]
    data1["commentary"] = result[1]+", "+data1["commentary"]+"."
    data1["event"] = result[1]
    data1["event"] = data1["event"].str.strip("")
    data1["commentary"] = data1["commentary"].str.strip("")
    data1=data1[["input","event","commentary"]]
    return data1

In [49]:
data2 = preparedata(data2)
data3 = preparedata(data3)
data2

,input,event,commentary
0,Chahar to Kohli,1 run,"1 run, strays on the pads first ball and Kohli..."
1,Chahar to Patel,no run,"no run, back of a length ball, given some widt..."
2,Chahar to Patel,no run,"no run, good bowling, keeps it wide of off stu..."
3,Chahar to Patel,no run,"no run, fuller and straighter, Parthiv wants t..."
4,Chahar to Patel,FOUR runs,"FOUR runs, misfield by by mid-off too full and..."
...,...,...,...
13868,Malinga to Jadeja,1 run,"1 run, low full toss on middle, and drilled ba..."
13869,Malinga to Watson,2 runs,"2 runs, yorker, just outside leg, and hammered..."
13870,Malinga to Watson,"1 run, OUT","1 run, OUT, yorker, just outside off, and slap..."
13871,Malinga to Thakur,2 runs,"2 runs, full toss on leg, and swiped away to d..."
13872,Malinga to Thakur,OUT,"OUT, Mumbai Indians win IPL 2019! Slower ball,..."

In [50]:
commentarydata = [data1,data2,data3]
commentary = pd.concat(commentarydata)
commentary.reset_index(inplace = True, drop = True)
commentary = pd.DataFrame(commentary)
commentary

,input,event,commentary
0,Chahar to Rohit Sharma,no run,"no run, Chahar beats the outside edge right aw..."
1,Chahar to Rohit Sharma,no run,"no run, on a length and outside off, Chahar fi..."
2,Chahar to Rohit Sharma,no run,"no run, beaten three times in a row! Good leng..."
3,Chahar to Rohit Sharma,FOUR runs,"FOUR runs, slightly overpitched and outside of..."
4,Chahar to Rohit Sharma,1 run,"1 run, full and veering into the pads, Rohit t..."
...,...,...,...
42404,Rabada to Pandya,1 run,"1 run, short and into the body. Shuffles and d..."
42405,Nortje to Pandya,1 run,"1 run, short of a length at middle stump, punc..."
42406,Nortje to Ishan,1 run,"1 run, low full toss just outside off, shuffle..."
42407,Nortje to Pandya,OUT,"OUT, taken at midwicket. Short ball, rolls the..."
42408,Nortje to Krunal,1 run,"1 run, yorker just outside off, jabs it into t..."

In [51]:
result = commentary["input"].str.split(" to ",n=1)
batsman=[]
bowler=[]
for item in result:
    bowler.append(item[0])
    if(len(item)>1):
        batsman.append(item[1])
    elif(len(item)==1):
        batsman.append("missing")

In [52]:
commentary["bowler"] = bowler
commentary["batsman"]= batsman
commentary.head()

,input,event,commentary,bowler,batsman
0,Chahar to Rohit Sharma,no run,"no run, Chahar beats the outside edge right aw...",Chahar,Rohit Sharma
1,Chahar to Rohit Sharma,no run,"no run, on a length and outside off, Chahar fi...",Chahar,Rohit Sharma
2,Chahar to Rohit Sharma,no run,"no run, beaten three times in a row! Good leng...",Chahar,Rohit Sharma
3,Chahar to Rohit Sharma,FOUR runs,"FOUR runs, slightly overpitched and outside of...",Chahar,Rohit Sharma
4,Chahar to Rohit Sharma,1 run,"1 run, full and veering into the pads, Rohit t...",Chahar,Rohit Sharma

In [53]:
commentary["commentary"]=commentary.apply(lambda x: str(x['commentary']).replace(str(x['bowler']),'the bowler'),axis=1)
commentary["commentary"]=commentary.apply(lambda x: str(x['commentary']).replace(str(x['batsman']),'the batsman'),axis=1)

In [54]:
commentary.head()

,input,event,commentary,bowler,batsman
0,Chahar to Rohit Sharma,no run,"no run, the bowler beats the outside edge righ...",Chahar,Rohit Sharma
1,Chahar to Rohit Sharma,no run,"no run, on a length and outside off, the bowle...",Chahar,Rohit Sharma
2,Chahar to Rohit Sharma,no run,"no run, beaten three times in a row! Good leng...",Chahar,Rohit Sharma
3,Chahar to Rohit Sharma,FOUR runs,"FOUR runs, slightly overpitched and outside of...",Chahar,Rohit Sharma
4,Chahar to Rohit Sharma,1 run,"1 run, full and veering into the pads, Rohit t...",Chahar,Rohit Sharma

In [55]:
#!pip install textblob
#!pip install GPUtil

In [56]:
import GPUtil
GPUtil.showUtilization()

| ID | GPU | MEM |
------------------
|  0 |  0% |  0% |

In [57]:
commentary = commentary.head(10000)

In [58]:
from textblob import TextBlob
commentary["commentary"].apply(lambda txt: ''.join(TextBlob(str(txt)).correct()))

0       no run, the bowler beats the outside edge righ...
1       no run, on a length and outside off, the bowle...
2       no run, beaten three times in a row! Good leng...
3       FOUR runs, slightly overpitched and outside of...
4       1 run, full and peering into the pads, Ohio tu...
                              ...
9995    1 run, good length outside off, steer it to sh...
9996    2 runs, short of a length outside off, licks i...
9997    no run, appeal for caught-behind and stamping ...
9998    1 run, short of a length on off stump, pushed ...
9999    2 runs, length ball into the pads. Stays tall ...
Name: commentary, Length: 10000, dtype: object

In [59]:
from sklearn.model_selection import train_test_split
x = commentary["event"]
y= commentary["commentary"]
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.1)

In [60]:
traindata = pd.DataFrame(ytrain)
testdata = pd.DataFrame(xtest)
traindata["commentary"] = traindata["commentary"].str.strip("")
testdata["event"] = testdata["event"].str.strip("")

In [61]:
traindata.reset_index(inplace = True, drop = True)
testdata.reset_index(inplace = True, drop = True)

In [62]:
traindata.to_csv("T5train.csv",index=False)
testdata.to_csv("T5test.csv",index=False)